@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Black.ttf");
}

@-webkit-keyframes ScaleIn {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ScaleIn {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menuBtn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  visibility: visible;
}

.menuBtnBurger {
  position: absolute;
  right: 0;
  top: .5rem;
  width: 20px;
  height: 4px;
  background: #000000;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border-radius: 1rem;
}

.menuBtnBurger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 4px;
  border-radius: 1rem;
  background: #000000;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.menuBtnBurger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 28px;
  height: 4px;
  border-radius: 1rem;
  background: #000000;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.menuBtnBurger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menuBtnBurger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menuBtnBurger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  width: 100vw;
  visibility: hidden;
  overflow-x: hidden;
  position: fixed;
}

.nav.open {
  visibility: visible;
  overflow-x: hidden;
  position: fixed;
}

.nav .CompanyName {
  position: fixed;
  width: 120px;
  height: 39px;
  left: 2rem;
  top: 2rem;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  line-height: 19px;
  color: #000000;
  z-index: 999;
}

.nav .circle {
  position: fixed;
  left: 8rem;
  top: 1.8rem;
  width: 1.5rem;
  height: 1.5rem;
  background: #0E47A1;
  border-radius: 50%;
}

.nav .menuNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: center;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  background: #E5E5E5;
  color: #000000;
  list-style-type: none;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 1;
  position: fixed;
  top: 5.5rem;
  right: 0;
}

.nav .menuNav.open {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.nav .menuNav__item {
  -webkit-transform: translateX(50vw);
          transform: translateX(50vw);
}

.nav .menuNav__item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menuNav__item.active > a {
  color: red;
}

.nav .menuNavLink {
  display: inline-block;
  font-size: 2rem;
  text-transform: capitalize;
  margin-top: 1rem;
  padding: 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.nav .menuNavLink:hover {
  color: red;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.nav .menuNavButton {
  background: #0E47A1;
  margin-top: 1rem;
  outline: none;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 0px 3px rgba(250, 3, 3, 0.08);
          box-shadow: 0px 4px 0px 3px rgba(250, 3, 3, 0.08);
  width: 8rem;
  height: 2rem;
  color: #E5E5E5;
  font-size: 20px;
  font-weight: bolder;
}

.nav .menuNav .designOne {
  position: fixed;
  width: 204.88px;
  height: 241px;
  right: 0px;
  bottom: 8rem;
}

.nav .menuNav .designTwo {
  position: fixed;
  width: 40.17px;
  height: 113px;
  left: 5rem;
  bottom: 8rem;
}

.nav .menuNav .designThree {
  position: fixed;
  width: 89.3px;
  height: 108.46px;
  right: 4rem;
  bottom: 0rem;
  -webkit-transform: matrix(0.99, 0.18, -0.12, 0.98, 0, 0);
          transform: matrix(0.99, 0.18, -0.12, 0.98, 0, 0);
}

.menuNavItem:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menuNavItem:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menuNavItem:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menuNavItem:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.Home1 {
  height: 250px;
  position: relative;
}

.Home1 .h1 {
  font-weight: bold;
  font-family: "roboto";
  position: relative;
  font-size: 38px;
}

.col1 {
  position: relative;
}

.Home1 .Circle1 {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #0E47A1;
  position: absolute;
  top: calc(50% - 15px);
  left: 50%;
  z-index: -1;
}

.color-primary {
  color: #0E47A1;
}

.build {
  font-family: "roboto";
  font-size: 15px;
  font-weight: 700;
}

.bgc-primary {
  background-color: #0E47A1;
  color: #fff;
}

.Home1 a {
  text-decoration: none;
}

.Home1 a button {
  font-weight: 600;
  width: 60%;
  -webkit-box-shadow: 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 6px rgba(0, 0, 0, 0.1);
}

.Home2 {
  position: relative;
  overflow: hidden;
}

.Home2 .h2, .Home3 .h2 {
  font-weight: bold;
  padding: 0;
}

.write-up1 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lineStyle {
  width: 171.41px;
  height: 17.01px;
}

.projects {
  width: 80vw;
  margin: 0 auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 8px;
}

.projects .projectItems {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.projects .projectItems:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.projects .projectItems img {
  width: 100%;
  height: 80%;
  border-radius: 8px;
}

.projects .projectItems .textFlex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  bottom: 3rem;
  color: #E5E5E5;
  padding: 0 1rem;
}

body {
  background-color: #E5E5E5;
  color: #000000;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

.HeaderContainer {
  background: #E5E5E5 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100% !important;
  height: 5.5rem;
  position: fixed;
  z-index: 99999;
}

header {
  position: fixed;
  width: 90%;
  height: 60px;
  top: 20px;
  z-index: 4000 !important;
  background: #E5E5E5;
  -webkit-box-shadow: 0px 4px 0px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 0px 3px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
}

a {
  outline: none;
  color: #000000;
  text-decoration: none;
}

main {
  padding-top: 5rem;
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */