//the header section
//please inform me before making changes
//style for the comppany name and type
.Company{
    display: flex;
    flex-direction: column;

    //for the company name
    &Name{
        font-size: 2rem;
        font-weight: bold;
    }

    //for the company type
    &Type{
        padding-top: 5px;
        
    }
}

//end of comppany name and type

//this is for the menu button on phone veiw by default the button is hidden on laptop view
.menuBtn{
    visibility: hidden;

}
.nav{
    visibility: visible;

    .menuNav{
        display: block;
        transform: translateY(0);
        height: 100%;
        background: transparent;
        text-align: center;
        box-shadow: none;

        &Item{
            display: inline;
            padding-right: 1.5rem;
        }
        &Link{
            font-size: 1.5rem;
            text-transform: uppercase;
            padding:2rem 0;
            font-weight: 300;
            
            &:hover{
                color: $test-color;
                @include transition-ease;
            }
        }
    }
}
// @for $i from 1 through 4 {
//     .menuNavItem:nth-child(#{$i}){
//         transition-delay: ($i * 0.1s) + 0.15s ;
//     }
// }