//importing all the scss parials
//all styles here are default

@import './config';
@import './nav';
@import './responsive';
@import './home';

body{
    background-color: $BgColor;
    color: $TextColor;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}
.HeaderContainer{
    background-color: $test-color !important;
    @include center-div;
}
header{
    position: fixed;
    width: 90%;
    height: 60px;
    top: 20px;
    z-index: 4000 !important;
    background: $BgColor;
    box-shadow: 0px 4px 0px 3px rgba(0, 0, 0, 0.08);
    border-radius: 14px;
}
a{
    outline: none;
    color:$TextColor;
    text-decoration: none;
}
main{
    padding-top:5rem ;
    z-index:1;
}