@font-face {
  font-family: "Roboto";
  src: url("../assets/Roboto-Medium.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.CompanyName {
  font-size: 2rem;
  font-weight: bold;
}

.CompanyType {
  padding-top: 5px;
}

.menuBtn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menuBtnBurger {
  position: absolute;
  right: 0;
  top: .5rem;
  width: 25px;
  height: 3px;
  background: #FFFFFF;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menuBtnBurger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #FFFFFF;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menuBtnBurger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #FFFFFF;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menuBtnBurger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menuBtnBurger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menuBtnBurger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menuNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 50%;
  overflow: hidden;
  background: #14232b;
  color: #FFFFFF;
  list-style-type: none;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 11px 8px rgba(0, 0, 0, 0.22);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 11px 8px rgba(0, 0, 0, 0.22);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
}

.nav .menuNav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menuNav__item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.nav .menuNav__item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menuNav__item.active > a {
  color: red;
}

.nav .menuNavLink {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
}

.nav .menuNavLink:hover {
  color: red;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .menuBtn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menuNav {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: center;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav .menuNavItem {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menuNavLink {
    font-size: 1.5rem;
  }
}

.home {
  padding: 1rem;
}

.homeTitle {
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: Roboto;
  text-align: center;
}

body {
  background-color: #14232b;
  color: #FFFFFF;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  height: 12vh;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  outline: none;
  color: #FFFFFF;
  text-decoration: none;
}

main {
  padding-top: 15rem;
}
/*# sourceMappingURL=style.css.map */