@font-face {
    font-family: "Roboto";
    src: url("../assets/Roboto-Medium.ttf");
}

:root{
    --bg-color: #14232b;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: white;
    font-size: 16px;
}

.header{
    width: 100%;
    height: 12vh;
    box-shadow: 0 0 10px 2px #00000033;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    overflow: hidden;

    .logo{
        // border: 1px solid blue;
        // width: 13rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px;
        font-family: "Roboto";
        .companyName, .companyType{
            margin: 0;
            padding: 0;
        }
    }

    .navLinks{
        width: 450px;
        border: 1px solid blue; //Just for visibility remove when needed
        height: 50%;

        .links{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style-type: none;
            font-family: "Roboto";
            li{
                margin: 0;
                padding: 0;
                font-size: 20px;
            }
        }
    }
}